
<div style="text-align: center; background-color: rgb(41, 12, 12); padding: 10px;"><h3 style="color: white;">Angular Application</h3></div>
<div class="container mt-5" [formGroup]="productForm">
    <div class="form-horizontal row">
      <div class="col-md-6">
        <p-card>
          <div class="form-group">
            <label for="productname">Product Name</label>
            <input type="text" class="form-control" placeholder="Enter Product Name" formControlName="Name">
          </div>
          <div class="form-group">
            <label for="productcategory">Product Category</label>
            <input type="text" class="form-control" placeholder="Enter Product Category" formControlName="Category">
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" placeholder=" Enter Price" formControlName="Price">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm" (click)="SubmitForm()">{{BtnSaveUpdateText}}</button>
          </div>
        </p-card>
      </div>

      <div class="col-md-6">
        <p-table [value]="products" [paginator]="true" [rows]="5" styleClass="p-datatable-gridlines"
          [rowsPerPageOptions]="[5, 10, 20]">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.Name }}</td>
              <td>{{ product.Category }}</td>
              <td>{{ product.Price }}</td>
              <td>
                <button  type="button" class="btn btn-warning btn-sm" (click)="getProductById(product.id)">Edit</button>&nbsp;
                <button button type="button" class="btn btn-danger btn-sm" (click)="DeleteProduct(product.id)">Delete</button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    

 
    <p-card>
  <ngx-charts-bar-vertical
    [view]="[600,400]"
    [results]="surveyData"
    [xAxisLabel]="'Product Name'"
    [legendTitle]="''"
    [yAxisLabel]="'Product Price'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
  </ngx-charts-bar-vertical>
</p-card>
</div>

